<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bakery.cart.mapper.CartMapper">
	<insert id="insertCart" parameterType="map">
		INSERT INTO `cart`
		(
			`productId`
			,`userId`
			,`count`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{productId}
			,#{userId}
			,#{count}
			,NOW()
			,NOW()
		)
	</insert>
	
	<select id="selectCartByUserIdProductId" parameterType="map">
		SELECT COUNT(1) FROM `cart`
		WHERE
			`productId` = #{productId}
			AND
			`userId` = #{userId}
	</select>
	
	<select id="selectCarListByUserId" parameterType="int" resultType="com.bakery.cart.domain.Cart">
		SELECT * FROM `cart`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>