<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.bakery.certification.mapper.CertificationMapper">
 	<insert id="insertCertificationCode" parameterType="map">
 		INSERT INTO	`certification`
 		(
 			`userId`
			,`certificationCode`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			,#{certificationCode}
 			,NOW()
 		)
 	</insert>
 
 	<select id="selectCertification" parameterType="Map" resultType="com.bakery.certification.domain.Certification">
 		SELECT * FROM	`certification`
 		WHERE
 			`certificationCode` = #{code}
 			AND
 			`userId` = #{userId}
 	</select>
 	
 	<delete id="deleteCertification" parameterType="Map">
 		DELETE	FROM `certification`
 		WHERE
 			`certificationCode` = #{code}
 			AND
 			`userId` = #{userId}
 	</delete>
 </mapper>