<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bakery.inquiry.mapper.InquiryMapper">
	<insert id="insertInquiry" parameterType="map">
		INSERT INTO `inquiry`
		(
			`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			,#{subject}
			,#{content}
			,#{imagePath}
			,NOW()
			,NOW()
		)
	</insert>
	
	<select id="selectInquiryByUserId" parameterType="int" resultType="com.bakery.inquiry.domain.Inquiry">
		SELECT * FROM `inquiry`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectInquiryById" parameterType="int" resultType="com.bakery.inquiry.domain.Inquiry">
		SELECT * FROM `inquiry`
		WHERE
			`id` = #{inquiryId}
	</select>
	
	<update id="updateInquiry"  parameterType="map">
		UPDATE `inquiry`
 		SET	
 			`subject` = #{subject}
 			,`content` = #{content}
 			,`imagePath` = #{imagePath}
 			,`updatedAt` = NOW()
 		WHERE
 			`id` = #{inquiryId}
	</update>
	
	<select id="selectInquiryList" resultType="com.bakery.inquiry.domain.Inquiry">
		SELECT * FROM `inquiry`
	</select>
	
	<update id="updateReplyById" parameterType="map">
		UPDATE `inquiry`
 		SET
 			`reply` = #{reply}
 			,`updatedAt` = NOW()
 		WHERE
 			`id` = #{inquiryId}
	</update>
</mapper>