<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.bakery.like.mapper.LikeMapper">
	<insert id="insertLikeByUserIdProductId" parameterType="map">
		INSERT INTO `like`
		(
			`productId`
			,`userId`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{productId}
			,#{userId}
			,NOW()
			,NOW()
		)
	</insert>
	
	<select id="selectLikeByUserIdProductId" parameterType="map">
		SELECT COUNT(1) FROM	`like`
		WHERE
			`userId` = #{userId}
			AND
			`productId` = #{productId}
	</select>
	
	<delete id="deleteLikeByUserIdProductId" parameterType="map">
		DELETE FROM `like`
		WHERE
			`userId` = #{userId}
			AND
			`productId` = #{productId}
	</delete>
	
	<delete id="deleteListByUserId" parameterType="int">
		DELETE FROM `like`
		WHERE
			`userId` = #{userId}
	</delete>
	
	<select id="selectLikeByUserId" parameterType="int" resultType="com.bakery.like.domain.Like">
		SELECT * FROM `like`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>