<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.bakery.user.mapper.UserMapper">
 	<select id="isDuplicatedId" parameterType="String">
 		SELECT count(1)
 		FROM `user`
 		WHERE 
 			`loginId` = #{loginId}
 	</select>
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
	 		`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`postCode`
			,`address`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{email}
 			,#{phoneNumber}
 			,#{postCode}
 			,#{address}
 			,NOW()
 			,NOW()
 			
 		)
 		
 		
 	</insert>
 </mapper>