@charset "UTF-8";
.logo {
    height: 70px;
    
}
#logo{
    font-size: 50px;
    color:black;
}
footer{
    background-color: lemonchiffon;
    height: 100px;
}
#menu{
    background-color: lemonchiffon;
    height: 40px;
}

.search{
    height: 35px;
}
.bg-lemon{
	background-color: lemonchiffon;
}
#signIn{
	margin-left: 250px;
}
#content{
	min-height: 500px
}

.margin-40{
	margin-left:150px;
}

#buyBtn{
	 width :278px;
	 height : 40px;
}

#likeBtn {
	width: 130px;
	height : 40px;
}
#dislikeBtn {
	width: 130px;
	height : 40px;
}
#cartBtn {
	width: 130px;
	height : 40px;
}